body{
	overflow: hidden;
	margin:0px;
	padding:0px;
	background-image: url("/images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.controlPanel
{
	grid-template-columns: 35% auto 45%;
    grid-gap: 10px;
    grid-template-rows: 100%;
    /* grid-auto-rows: minmax(100px, auto); */
    display: grid;
}

.joyStickPanel {
	grid-column: 1;
    grid-row: 1;
	border-color: #555555;
	float:left;
	background-size: 100%;
	position:relative;
}

.centerPanel {
	grid-column: 2;
}

.cernterPanel .start
{
	width: 70%;
	height:20px;
	margin: 20 auto ;
	background-image: url("/images/Start.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.cernterPanel .select
{
	width: 70%;
	height:20px;
	margin: auto;
	background-image: url("/images/Select.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.rightPanel {
	grid-column: 3;
	margin-left: auto;
}

.buttonBase{
	width: 80%;
	margin: 0, auto;
	background-image: url("/images/aSBgImg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	bottom:0;
}

.analogStick{
	width: 30%;
}

.button{
	background-image: url("/images/aSThumbImg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	font-style: italic;
    text-align: right;
    font-weight: bolder;
}

.buttonContainer{
	position: fixed;
    bottom: 0;
    right: 0;
}

.rightPanel .button{
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
}


.screen{
	position: absolute;
	
}
#view_OrientationCheck{
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	z-index:1000;
	background-color:#aaaaaa;
}